<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New user is been added and its login id is:</h1> 
    <p>email: <%= @user.email %></p>
  </body>
</html>