<body>
  <% @wish.each do |wishlist| %>
    <% product = wishlist.product %>
      <tr>
        <td>
          <img src="<%= url_for(product.image) %>">
        </td>
        <td>  
          <h3><%= product.name %> <%= product.price %></h3>
        </td>
        <td>
          <%= button_to "X", remove_wishlist_path(product), method: :delete %>            
        </td>
      </tr>
  <% end %>
</body>
